@tailwind base;
@tailwind components;
@tailwind utilities;

.code-line {
  display: block;
  font-size: 0.9rem;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 6px solid rgba(0, 0, 0, 0);
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(35, 104, 125, 0.34);
  border-left: 6px solid rgb(132, 173, 213);
}

@import "prism-themes/themes/prism-one-dark.min.css";
